images*
.venv*
*.DS_Store*
image_embeddings_normalized.pt
ordered_image_paths.json
scripts/*
scraped*/
products_minimal.csv
similar_products_cache_512.pt
insta.ipynb
images*/
insta_influencers_by_category_feedspot.json
backup/